# Ignore the Midterm CTF
writeups/security_summer_school/ctf_midterm/
public/images/security_summer_school/ctf_midterm/

# Ignore inspo dir
inspo/

# Ignore unsolved rooms
writeups/try_hack_me/set/
writeups/try_hack_me/ironhold/
writeups/try_hack_me/billing/
writeups/try_hack_me/dogcat/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# todo
todo.txt

# structure
struct.txt
